

body{
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}


.top-container{
  width: 100%;
  height:fit-content;
  background-color: rgb(11, 11, 11);
  background-image: url("../images/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner-top-container {
  width:100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
}

.home-page-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 9%;
  margin-top: 1%;
  gap: 10px;
  width: 45%;
  height: fit-content;
  padding-left: 1%;
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: relative;
  animation: backInRight;
  animation-duration: 2s;
}



.home-page-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
  font-family: Source Sans;
  font-weight: 400;

}

.home-page-buttons a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid;
  padding: 10px;
  background-color: #151515;
  border-radius: 10px;
}

.home-page-buttons a:hover{
  background-color:transparent ;
  border: 2px double white;
}
.logo{
  
  width: 26%;
  display: flex;
  justify-content: center;
  position: relative;
  animation: backInLeft;
  animation-duration: 2s;
 
}

.logo h3 {
  font-size: 30px;
  
  font-weight: 600;
  color: white;
  background-color: #152f53;
  padding: 10px;
  
}

.middle-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e8e0d8;
}

.read-latest-articles{
  width: 80%;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ded9d3;
  padding: 1%;
}

.articles-containers{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.articles-text-text {
  font-family: Konkhmer Sleokchher;
  font-weight: 400;
}
.articles{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 15px;
  border-radius: 25px;
  transition: all.2s ease-in-out; 
  background-color: #151515;
  box-shadow: 3px 3px rgb(133, 127, 127);
}

.articles .articles-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.articles-link p {
  font-family: Source Sans;
  font-weight: 200;
  color: white;
}

.articles:hover{
  transform: scale(0.9);
}

.articles-author {
  display: flex;
  flex-direction: column;
  align-self:flex-end;
  text-decoration: none;
  color: black;
}


.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #151515;
  border-top: 1px solid;
  color: white;
}



.register-body{
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#F0F0F0 ;
}

.register-container{
  width: 60%;
  height: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  background-color: white;
  position: relative;
  animation: fadeInLeftBig;
  animation-duration: 2s;
}

.register{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:rgb(58, 58, 181) ;
}

.register h1 {
  font-family: Lato;
  font-weight: 600;
}
.home-and-login-nav-bars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.first-container{
  height: 100%;
  width: 55%;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  padding-left: 30px;
}


.form-container{
  width: 70%;
  display: flex;
  flex-direction: column; 
}

.form-container label {
  font-family: Lato;
  font-weight: 200;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.form-group input{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.form-group input:focus{
  outline: none;
  font-size: 15px;
}
.passwords-do-not-match{
  color: rgb(235, 9, 9);
  display: inline;
}


.register-button{
  margin-top: 20px;
  width: 100%;
  height: 18%;
  border-radius: 20px;
  color: white;
  border: 4px double white;
  background-color: rgb(58, 58, 181);
  font-family: Source Sans;
  font-weight: 200;
  font-size: 16px;
}

.login-button{
  margin-top: 20px;
  width: 100%;
  height: 18%;
  border-radius: 20px;
  color: white;
  border: 4px double white;
  background-color: rgb(58, 58, 181);
  font-family: Source Sans;
  font-weight: 200;
  font-size: 16px;
}

.login-button:hover{
  background-color:transparent;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}
.register-button:hover{
  background-color:transparent;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}



.second-container{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.google{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-button{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: rgb(245, 245, 247);
  padding-left: 5px;
  padding-right: 5px;
}

.google-button:hover{
  background-color: rgb(242, 69, 69);
  border: 1px solid ;
  border-radius: 10px;
}


.second-container a{
  text-decoration: none;
  padding: 10px;
  color: rgb(6, 6, 6);
  font-family: Lato;
  font-weight: 300;
}


.login-body{
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  background-color:#F0F0F0 ;
}

.login-container{
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  background-color: white;
  position: relative;
  animation: fadeInRightBig;
  animation-duration: 2s;
}


@media screen and (max-width:800px) {
  .register-container{
    width: 70%;
    height: 63%;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    
  }

  .login-container{
    width: 70%;
    height: 55%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  

  .first-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    border: none;
  }

  .second-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    border: none;
  }

  .google{
    width: 97%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
  }

  .google-button{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction:row;
    justify-content: center;
    border: none;
    background-color: rgb(249, 56, 56);
    border-radius: 20px;
    
  }

  .google-button a{
    color: white;
  }
  .form-group{
    border: none;
  }

  .form-container{
    border: none;
  }
 

  .login-button{
    width: 100%;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: rgb(58, 58, 181);
  }

}


.blogs-body{
  height: fit-content;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF4F5 ;
}

.blogs-full-container{
  height: 90%;
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color:  #FFE5CA;
  padding: 30px;
  position: relative;
  animation: backInUp;
  animation-duration: 2s;
}

.nav-bars{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-bar-buttons a {
  margin-right: 80px;
  text-decoration: none;
  color: #0B2447;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back-button {
  margin-left: 20px;
}
.articles-container{
  height: 85%;
  width: 100%;
  background-color:#FFE5CA;
  display: flex;
  flex-direction: column;
}

.articles-text{
  height: 20%;
  width: 100%;
}

.articles-text h2 {
  font-size: 35px;
  font-family: Konkhmer Sleokcher;
  font-weight: 400;
}





.articles-inner-container{
  height: 80%;
  width: 100%;
  background-color:#FFE5CA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.blogs-container{
  height: 100%;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.blogs-inner-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  gap: 15px;
  
}

.blogs-personal-container {
  display: flex;
  flex-direction:column;
}



.blogs-personal-container p {
  width: 200px;
  height: 120px;
  border: 1px solid #0B2447;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  transition: all.2s ease-in-out;
  overflow: hidden;
}

.blogs-personal-container h5 {
  font-family: Konkhmer Sleokchher;
  font-weight: 100;
  font-size: 15px;
}

.blogs-personal-container p:hover{
  transform:scale(1.1);
}

.blogs-personal-container p:focus {
  overflow: visible;
}

.text-box {
  padding: 10px;
}
.blogs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}
.write-article-button {
  display: flex;
  justify-content:right ;
  align-self: self-end;
  text-align: center;
}

.write-article-button a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  width: 64px; 
  height: 64px;
  border-radius: 50%;
  background-color: #0B2447;
}

.create-blog-container-body{
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}





.create-full-container{
  height: 90%;
  width: 80%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #F6F1E9;
  position: relative;
  animation: backInUp;
  animation-duration: 2s;
}

.create-blog{
  height: 85%;
  width: 100%;
  padding-left: 2%;
}

.create-form-container{
  width: 80%;
  height: 100%;

}

.create-form-container-inputs{
  width: 100%;
  height: 100%;
  display: flex;
 
  flex-direction: column;
  gap: 30px;
  
}

.create-form-container-input-text{
  height: 150px;
  border-radius: 20px;
  border: 2px solid #3C486B;
  padding: 15px;
  font-size: 20px;
}

.create-form-container label {
  font-size: 25px;
  font-family: Ysabeau;
  font-weight: 500;
}

.submit-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 20px;
}

.submit-button {
  width: 25%;
  height: 50px;
  background-color: #0B2447;
  color: white;
  font-size:20px;
  border-radius: 12px;
  border: 4px double;
  font-weight: 500;

}

.submit-button:hover{
  background-color: transparent;
  color: black;
  border-radius: 12px;
  border: 4px solid;
  cursor: pointer;
}


.create-form-container-input{
  width: 90%;
  height: 40px;
  border: 2px solid #3C486B;
  border-radius: 20px;
  padding-left:20px ;
  font-size: 20px;
}


